<% @width = "512" %>
<% @height = "512" %>
<div data-controller="levels">
  <div class="header">Level 1</div>
  <div class="help"></div>
  <div class="code"><textarea id="code"></textarea><button id='run'>RUN</button></div>
  <div class="field"><canvas id="myCanvas" width=<%= @width %> height=<%= @height %>></canvas></div>
</div>